* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("https://avatars.mds.yandex.net/i?id=ce0dfe3ee9248111bc23cadb0ca5ba4185c19290-5244292-images-thumbs&n=13");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;/*Цвет шрифта названия продукта*/
    overflow-x: hidden;
}

/* HEADER */
header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    letter-spacing: 2px;
}

header button {
    padding: 12px 26px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #000000, #0072ff);
    color: #ffffff;/*Цвет шрифта кнопок корзины и др*/
    font-size: 16px;
    transition: transform 0.2s ease;
}

header button:hover {
    transform: scale(1.05);
}

/* SEARCH */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 0;
}

.search-container input {
    width: 340px;
    padding: 18px 28px;
    border-radius: 999px;
    border: 2px solid;
    border-image-slice: 1;
    box-sizing: border-box;
    border-width: 1.5px;
    border-image-source: linear-gradient(45deg, #0072ff, #00c6ff);
    background-clip: padding-box , border-box;
    background: rgba(0,0,0,0.2);
    color: white;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.search-container input:focus {
    background: rgba(0,0,0,0.3);
    box-shadow: 0 0 20px rgba(0, 198, 255, 0.35);
}

.search-container button {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* круглая кнопка */
    border: none;
    background: linear-gradient(135deg, #0072ff, #00c6ff);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.search-container button:hover {
    transform: scale(1.1);
}

.search-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    background: #121212;
    border-radius: 0px;
    padding: 0px;
    box-shadow: 0 0 0 1px #303030;
}

.search-wrapper input {
    width: 280px;
    padding: 10px 16px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}

.search-wrapper input::placeholder {
    color: #aaa;
}

.search-wrapper button {
    width: 42px;
    height: 42px;
    border-radius: 40%;
    border: none;
    background: #222;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.search-wrapper button:hover {
    background: #333;
}

/* PRODUCTS */
.products {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

/* PRODUCT CARD */
.product-card {
    background: rgba(41, 37, 37, 0.85);/*Цвет карточек на главной */
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    transition: 0.4s ease;
    animation: fadeUp 0.6s ease forwards;
    position: relative;
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

.product-card img {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 15px;
}

.product-card h3 {
    margin-bottom: 10px;
}

.product-card p {
    opacity: 0.8;
    margin-bottom: 15px;
}

.product-card > * {
    position: relative;
    z-index: 2;
}

/* Слой свечения */
.product-card::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    border-radius: 20px; /* совпадает с карточкой */
    background: linear-gradient(
        135deg, 
        rgba(0, 198, 255, 0.3) 0%, 
        rgba(0, 198, 255, 0.0) 70%
    );
    transform: translate(-100%, 100%);
    filter: blur(20px);
    animation: glowDiagonal 5s infinite ease-in-out;
}

/* CART CONTROLS */
.cart-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.cart-controls button {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: rgb(255, 252, 252);/*Цвет + и -*/
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.cart-controls button:active {
    transform: scale(0.85);
    box-shadow: 0 0 20px rgba(0,114,255,0.6);
}

.cart-controls .qty {
    font-size: 18px;
    min-width: 24px;
    text-align: center;
}

/* REMOVE ITEM BUTTON */
.remove-item {
    margin-left: auto;
    background: transparent;
    border: none;
    color: #ff4d4d;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.remove-item:hover {
    transform: scale(1.2);
    color: #ff0000;
}

/* VIEW BUTTON */
.view-btn {
    margin-top: 12px;
    padding: 10px 25px;
    border-radius: 100px;
    border: none;
    background: linear-gradient(135deg, #ffb347, #ffcc33);
    color: #000;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.view-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(255,204,51,0.6);
}

/* MODAL */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(6, 4, 4, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: rgba(0,0,0,0.75);
    backdrop-filter: blur(14px);
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
}

/* ADMIN LOGIN MODAL */
#loginModal input {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 16px;
}

.hidden {
    display: none;
}

.btn {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    border-radius: 100px;
    border: none;
    background: #0072ff;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
}

/* CART ITEMS */
.cart-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    animation: slideIn 0.3s ease;
}

.cart-item img {
    width: 50px;
    height: 40px;
    object-fit: cover;
    border-radius: 8px;
}

/* ANIMATIONS */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Анимация движения свечения по диагонали */
@keyframes glowDiagonal {
    0% {
        transform: translate(-100%, 100%);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        transform: translate(100%, -100%);
        opacity: 0.7;
    }
    100% {
        transform: translate(100%, -100%);
        opacity: 0;
    }
}

@keyframes fireworks {
    0% {transform: scale(0); opacity:1;}
    50% {transform: scale(1.5); opacity:0.7;}
    100% {transform: scale(0); opacity:0;}
}

.firework {
    position: absolute;
    width: 10px;
    height: 10px;
    background: gold;
    border-radius: 50%;
    animation: fireworks 1s ease-out forwards;
}

/* SNOW */
#snow {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 500;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: white;
    animation: fall linear infinite;
}

/*CSS ДЛЯ СТРАНИЦЫ ТОВАРА*/
.product-img {
    width: 800px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-bottom: 20px;
}

.product-page {
  display:none;
}
 
@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.footer-card {
    max-width: 800px;
    margin: 50px auto 20px auto;
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.75); /* полупрозрачный фон */
    backdrop-filter: blur(12px);     /* размытие фона */
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    animation: fadeUp 1s ease forwards;
}

.footer-card h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

.footer-card p {
    margin: 5px 0;
    font-size: 16px;
}



